body {
    padding-top: 160px; /* espaçamento para a barra de menu */
}

.container {
    max-width: 960px; /* largumra maxima da pagina */
}

aside {
  color: #00A4DB;
}

aside > p {
  font-weight: bold;
}

p > a {
  font-style: italic;
  font-weight: bold;
  color: #0065C9;
}

.cabecalho {
	height: 225px;
	max-height: 225px;
}

#Intro {
    top: 0;
    position: fixed;
    background-color: #fff;
    height: 40px;
    width: 100%;
}

.navbar-fixed-top {
	top: 120px;
}

.banner-vertical {
	float: right;
	width: 150px;
	height: 480px;
}

footer {
	background-color: #C4C4C4;
	font-weight: bold;
	padding-top: 10px;
}
