<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="index.html">Esportes Paralímpicos</a>
                </li>
                <li>
                    <a href="pag2.html">Tiro Esportivo</a>
                </li>
                <li>
                    <a href="pag3.html">Bocha</a>
                </li>
                <li>
                    <a href="pag4.html">Natação</a>
                </li>
            </ul>
        </div>
    </div>
</nav>